@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");

::-webkit-scrollbar {
  width: 0px;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
 img{
  width: 100%;
 }
p {
  margin: 0;
  padding: 0;
}
h6 {
  font-size: 1.1rem;
  margin: 0.5rem;
}
.button-primary {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: white;
  border: solid 1px black;
  color: black;
  margin-top: 0.8rem;
  font-weight: 300;
}
.button-primary-buy {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 0.8rem;
  font-weight: 300;
  border: none;
}
.button-primary:hover,
.button-primary-buy:hover {
  background-color: #141414;
  color: white;
  cursor: pointer;
}
.button-primary:active {
  background-color: #141414 !important;
}
.button-secondary {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary-link {
  width: 100%;
  height: 50px;
  border: none;
  color: black;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: white;
  color: #141414;
  border: 1px solid #141414;
  cursor: pointer;
}

.button-secondary:active {
  background-color: white !important;
  color: black;
}
button:disabled {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #dbdbdb;
  border: none;
  color: rgb(83, 83, 83);
  margin-top: 8px;
  font-weight: 300;
  cursor: none;
}
.button-disabled:hover,
.button-disabled:active {
  background-color: #dbdbdb;
  color: rgb(83, 83, 83);
  cursor: pointer;
}





