@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: "Inter", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.1rem;
  margin: 0.5rem;
}
/*_____________ itens minicart_____________ */

.list-group {
  border-radius: 0;
  overflow: auto;
  flex-grow: 1;
  border-bottom: 1px solid #80808040;
  padding: 0;
  margin: 0;
}

.empty-cart {
  color: black;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}

.empty-cart-content {
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.list-item {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #80808040;
  margin-top: 8px;
  padding-bottom: 8px;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item .product-image {
  width: 5rem;
}

.list-item-info {
  width: 100px;
}

.product-name {
  height: 32px;
  margin-bottom: 0.5rem;
  overflow: hidden;
  font-size: 0.85rem;
  font-weight: 600;
}
.price {
  font-size: 1.1rem;
  padding: 1rem 0;
  color: black;
}
.product-description,
.quantity-item {
  font-size: 0.85rem;
  margin: 0;
  color: grey;
}
.product-description {
  height: 50px;
  overflow: hidden;
}
.description {
  height: 34px;
  overflow: hidden;
}
.product-price {
  color: black;
  font-weight: 600;
  font-size: 0.85rem;
  margin: 0;
  margin-top: 0.5rem;
}

.quantity-container {
  border: 1px solid #80808040;
  max-width: 94px;
  border-radius: 4px;
  padding: 8px;
  height: 28px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0.85rem;
}

.quantity-item {
  margin: 0;
  width: 32px;
  text-align: center;
}

.list-item button {
  display: flex;
  justify-content: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* _____________MINICART_____________ */

.minicart-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  animation-duration: 1s;
  transition: all 400ms ease;
  z-index: 0;
}

.minicart-content {
  margin-right: 0;
  max-width: 400px;
  height: 100vh;
  right: 0;
  bottom: 0;
  display: none;
  background-color: white;
  z-index: 2;
}

.minicart-content-active {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 16px;
  z-index: 2;
  transition: all 400ms ease;
}

.minicart-content ::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

.minicart-content ::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 50px;
}

.minicart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 16px 0;
  color: black;
  border-bottom: 1px solid #80808040;
  margin-top: 1rem;
}

.minicart-header .close-icon {
  width: 12px;
  cursor: pointer;
}

.minicart-header h3 {
  font-weight: 300;
  margin: 0;
}

.minicart-header button {
  background-color: transparent;
  border: none;
}

.minicart-footer {
  margin-bottom: 0;
  padding: 0;
}

.minicart-footer-div {
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  justify-content: space-between;
}

.button-primary {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: white;
  border: solid 1px black;
  color: black;
  margin-top: 0.8rem;
  font-weight: 300;
}

.button-primary-buy {
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: 0.8rem;
  font-weight: 300;
  border: none;
}
.button-primary:hover,
.button-primary-buy:hover {
  background-color: #141414;
  color: white;
  cursor: pointer;
}

.button-primary:active {
  background-color: #141414 !important;
}

.button-secondary {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary-link {
  width: 100%;
  height: 50px;
  border: none;
  color: black;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button-secondary:hover {
  background-color: white;
  color: #141414;
  border: 1px solid #141414;
  cursor: pointer;
}

.button-secondary:active {
  background-color: white !important;
  color: black;
}

button:disabled {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #dbdbdb;
  border: none;
  color: rgb(83, 83, 83);
  margin-top: 8px;
  font-weight: 300;
  cursor: none;
}

.button-disabled:hover,
.button-disabled:active {
  background-color: #dbdbdb;
  color: rgb(83, 83, 83);
  cursor: pointer;
}

.list-item .product-image {
  margin: 16px 8px;
}

/* _____________VITRINE_____________ */
.vitrine .col {
  flex: 0;
}

.container-vitrine-produtos {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 10rem;
}

.vitrine-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}
.vitrine-produtos-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: 440px; */
  gap: 4rem;
  margin-bottom: 10rem;
}
.container-vitrine-produtos h4 {
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card-content {
  min-width: 10rem;
  text-align: center;
  border: 1px solid #80808040;
  padding: 0.8rem;
}
.card-content a {
  text-decoration: none;
}
.image-content {
  margin: 0 auto;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.product-image {
  width: 100%;
  height: 100%;
  margin: 30px auto 16px auto;
  object-fit: scale-down;
}
.shipping-container h5,
.contact-container h5,
.order-summary-container h5 {
  font-weight: 300;
  height: 24px;
  overflow: hidden;
  margin-bottom: 2px;
}
.card-content a h5 {
  font-weight: 600;
  height: 20px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: black;
}
.card-content p {
  font-size: 0.85rem;
  color: grey;
  margin-bottom: 0.8rem;
}

/* _____________NAVBAR_____________ */
.nav-container {
  height: 72px;
  background-color: rgb(248, 248, 248);
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100%;
}

.nav-content {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.navbar-brand {
  color: black;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #141414;
  cursor: pointer;
}

.nav-content form {
  height: 3rem;
  width: 60%;
}

.input-search {
  position: relative;
  height: 3rem;
  padding: 0 1rem;
  min-width: 300px;
  width: 100%;
  border-radius: 0;
  outline: 0 none;
  border: solid black 1px;
}

.input-search:focus {
  border-color: #141414;
  box-shadow: none;
}

.icone-carrinho {
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.cart-status {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  font-size: 12px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* _____________NOT FOUND_____________ */
.not-found-title-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.not-found-title-content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  padding-top: 200px;
}

.not-found-image-content {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}
.not-found-title {
  text-transform: none;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 10px;
  font-weight: 400;
}
.not-found-title-ops {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 900;
}
.not-found-title span {
  margin: 0 1rem;
  font-weight: 600;
}
.search-item-not-found {
  font-style: italic;
}

.not-found-btn,
.search-cep {
  text-decoration: underline !important;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
}

.not-found-image {
  width: 140px;
  background-color: white;
  transform: rotate(76deg);
}

/* _____________CHECKOUT_____________ */
.shipping {
  padding-top: 100px;
}

.checkout-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
  grid-template-columns: 2fr 1fr;
  padding: 100px 20px 0 20px;
}

.shipping-container,
.contact-container,
.order-summary-container {
  display: block;
  padding-bottom: 20px;
}

.shipping-container h5,
.contact-container h5,
.order-summary-container h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: black;
}

/* _____________CHECKOUT-SHIPPING_____________ */

.shipping-container label,
.contact-container label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}

.shipping-container input,
.contact-container input {
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #80808040;
  height: 34px;
  padding-left: 8px;
  border-radius: 4px;
  color: black;
  font-weight: 300;
}

.shipping-container input:focus-visible,
.contact-container input:focus-visible {
  outline: 2px solid black;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.shipping-container input::placeholder,
.contact-container input::placeholder {
  padding-left: 8px;
  color: #5f5f5f;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.shipping-container p,
.checkbox-content p {
  border: 1px solid #80808040;
  border-radius: 4px;
  padding-left: 8px;
  color: #5f5f5f;
  font-style: italic;
  font-weight: 300;
  height: 34px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.address-number-complement,
.address-city-neighborhood {
  display: flex;
  gap: 20px;
}

.address-number-complement .complement,
.address-number-complement .number,
.address-city-neighborhood .address-city,
.address-city-neighborhood .address-neighborhood {
  display: block;
  width: 100%;
}

.checkbox-content {
  display: flex;
  align-items: center;
}

.checkbox-content button {
  background-color: white;
  border: 1px solid black;
  width: 10px;
  height: 14px;
  border-radius: 50%;
}

.checkbox-content p {
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
}
.checkbox-input {
  width: 16px !important;
  margin: 0 !important;
  border-radius: 50%;
  margin-right: 8px;
}

.address-cep-button {
  display: flex;
  align-items: center;
}

.address-cep-button button {
  margin: 0 0 16px 16px;
  margin-bottom: 16px;
  font-weight: 300;
}

/* _____________CHECKOUT-ORDER_____________ */

.quantity-item-checkout {
  width: 100%;
  text-align: left;
color: black;
}

.order-summary-info .list-group {
  border: none;
}

.order-summary-info-price {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  align-items: center;
  background-color: #cfcfcf2e;
  border-radius: 4px;
  padding: 16px;
}

.order-summary-info-price h6 {
  margin: 0;
  padding: 0;
}

/* _____________CHECKOUT-CONTACT_____________ */

.contact-content {
  display: flex;
  width: 100%;
  gap: 20px;
}

.contact-buttons {
  margin-bottom: 60px;
}

.contact-name,
.contact-email {
  width: 100%;
}

/* _____________MEDIAS_____________ */

@media (max-width: 970px) {
  .checkout-container {
    display: grid;
    padding-top: 70px;
    gap: 36px;
    grid-template-columns: unset;
  }
  .input-search {
    display: none;
  }
  .order-summary-container {
    margin-top: 16px;
  }
  .order-summary-content {
    order: 1;
  }
  .contact-info {
    order: 2;
  }

  .contact-buttons {
    margin-bottom: 20px;
  }
}

/*____________DETAILS_______*/
.details-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 20px 80px 20px;
}
.details-content {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: end;
}
.details-image-container {
  margin: 0 auto;
  width: 32rem;
  height: 32rem;
  overflow: hidden;
}
.details-image {
  width: 100%;
  height: 100%;
  margin: 30px auto 16px auto;
  object-fit: scale-down;
}
.details-text {
  max-width: 500px;
}
.details-description {
  margin-bottom: 2rem;
}
.container-slider {
  max-width: 1080px;
  height: 480px;
  margin: 0 auto;
  padding: 80px 0 40px 0;
}
.content-slider {
  background-image: url(./assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  .content-slider {
    background-image: url(./assets/images/banner-portrait.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0 40px 0;
  }

}